<template>
    <div>
        <h1>Contact</h1>
        <form>
            <input name="name" v-model="form.name" />
        </form>
    </div>
</template>

<script>
    export default {
        name: "Create",
        data() {
            return {
                form: {
                    name: ''
                }
            }
        }
    }
</script>