<template>
    <form>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="menu-title">Title</label>
                    <input id="menu-title" class="form-control" v-model="form.title"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="form.doesLink">
                    <label class="form-check-label">Does link?</label>
                </div>
            </div>
            <div class="col-8">
                <div class="form-group">
                    <label for="menu-href">Href</label>
                    <input id="menu-href" class="form-control" v-model="form.href"/>
                </div>
            </div>
            <!--<div class="col-5">-->
                <!--<div class="form-group">-->
                    <!--<label for="menu-route">Route</label>-->
                    <!--<input id="menu-route" class="form-control" v-model="form.route"/>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row">
            <div class="col-4">
                <select>
                        <option v-for="item of parents">{{item.title}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary" v-on:click="saveMenuItem">Submit</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "Create",
        data() {
            return {
                form: {
                    title: '',
                    doesLink: true,
                    href: '',
                    parent: null,
                    weight: 0,
                    route: '',
                    extra_attr: '',
                },
                parents: [],
            };

        },
        methods: {
            getParents() {
                self = this;
                axios.get('/admin/menu/parents').then(response => {
                    self.parents = this.flattenArrayForSelect(response.data);
                });
            },
            flattenArrayForSelect(arr) {
                let arrTmp = [];
                for (let menu of arr) {
                    menu.is_parent = true;
                    arrTmp.push(menu);
                    for (let item of menu.menu_items) {
                        item.is_parent = false;
                        arrTmp.push(item);
                    }
                }
                return arrTmp;
            },
            saveMenuItem() {
                let self = this;

                axios.post('/admin/menu', self.form).then(response => {
                    console.log(response);
                });
            }
        },
        mounted() {
            this.getParents();
        }
    }
</script>

<style scoped>

</style>

<!--
'id': 123,
'title': 'Example',
'level': 0,
'hasChildren': true,
'children': [{
    'id': 1235,
    'title': 'Example Child',
    'level': 1,
    'hasChildren': false,
    'children': {},
    'doesLink': true,
    'href': '/',
    'dropDownId': null
}],
'doesLink': true,
'href': '/',
'dropDownId': null
-->
