<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-atterfalk">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li v-for="item of menu" ref="item" v-bind="setLiClass(item)">
                    <a :class="setTopClasses(item)" :href="item.href" v-bind="setAttr(item)">{{item.title}}</a>
                    <div v-if="item.hasChildren" class="dropdown-menu" :aria-labelledby="item.dropDownId">
                        <a v-for="child of item.children" class="dropdown-item" :href="child.href">{{child.title}}</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-default my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</template>

<script>
    import { cacheAdapterEnhancer } from 'axios-extensions';
    export default {
        name: "TopNav",
        data() {
            return {
                menu: [],
                exampleMenu: [{
                    'id': 123,
                    'title': 'Example',
                    'level': 0,
                    'hasChildren': true,
                    'children': [{
                        'id': 1235,
                        'title': 'Example Child',
                        'level': 1,
                        'hasChildren': false,
                        'children': {},
                        'doesLink': true,
                        'href': '/',
                        'dropDownId': null
                    }],
                    'doesLink': true,
                    'href': '/',
                    'dropDownId': null
                }],
                dropDownAttr: {
                    'id': "navbarDropdown",
                    'role': "button",
                    'data-toggle': "dropdown",
                    'aria-haspopup': "true",
                    'aria-expanded' :"false",
                }
            }
        },
        methods: {
            getMenu() {
                let self = this;
                const http = axios.create({
                    baseURL: '/',
                    headers: { 'Cache-Control': 'no-cache' },
                    adapter: cacheAdapterEnhancer(axios.defaults.adapter)
                });

                http.get('/api/menu/main').then(e => {
                    self.menu = e.data.menu_items;
                });
            },
            setLiClass(item) {
                let liDefault = {
                    'class': 'nav-item',
                };
                if (item.hasChildren) {
                    liDefault.class += ' dropdown';
                }
                return liDefault;
            },
            setTopClasses(item) {
                let classes = 'nav-link';
                if (item.hasChildren) {
                    classes += ' dropdown-toggle';
                }
                return classes;
            },
            setAttr(item) {
                item.dropDownId = this.dropDownAttr.id + item.id;
                if (item.hasChildren) {
                    return this.dropDownAttr;
                }
            }
        },
        mounted() {
            this.getMenu();
        }
    }
</script>

<style scoped>

</style>