<template>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <input class="form-control" v-model="page.title" />
        </div>
        <div class="col-12">
            <ckeditor :editor="editor" v-model="page.content" :config="editorConfig"></ckeditor>
        </div>
        <div class="col-12">
            <button type="button" @click="create_page">Create</button>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        name: "Create",
        data() {
            return {
                page: {
                    title: '',
                    content: ''
                },
                editor: ClassicEditor,
                editorConfig: {
                    // The configuration of the rich-text editor.
                }
            }
        },
        methods: {
            create_page() {
                let self = this;
                // console.log(self.page);
                // return;
                axios.post('/admin/pages', self.page).then((data) => {
                    console.log(data);
                });
            }
        }
    }
</script>

<style scoped>

</style>