<template>
    <div class="row">
        <div class="form-group col-md-6 col-sm-12">
            <input class="form-control" v-model="page.title" />
        </div>
        <div class="col-12">
            <ckeditor :editor="editor" v-model="page.content" :config="editorConfig"></ckeditor>
        </div>
        <div class="col-12">
            <button type="button" @click="update_page">Update</button>
        </div>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        name: "Edit",
        props: ['_page'],
        data() {
            return {
                page: JSON.parse(this._page),
                editor: ClassicEditor,
                editorConfig: {
                    // The configuration of the rich-text editor.
                }
            }
        },
        methods: {
            update_page() {
                let self = this;
                console.log(self.page);
                axios.put('/admin/pages/' + self.page.id, self.page).then((data) => {
                    console.log(data);
                });
            }
        }
    }
</script>

<style scoped>

</style>