<template>
    <div class="row col-12">
        <table class="table">
            <tr v-for="page of pages">
                <td>{{page.title}}</td>
                <td><a :href="'/admin/pages/' + page.id + '/edit'"><span class="fa fa-edit"></span></a></td>
                <td><a :href="'/admin/pages/' + page.id + '/delete'"><span class="fa fa-trash"></span></a></td>
            </tr>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Index",
        props: ['_pages'],
        data() {
            return {
                pages: JSON.parse(this._pages),
            }
        }
    }
</script>

<style scoped>

</style>